#############################################################################
#   Мотор оси Z
#############################################################################
[stepper_z]
step_pin: PC10
dir_pin: !PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 268
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 5

#############################################################################
#   Настройки старого датчика
#############################################################################
[probe]
pin: ^PA11
x_offset: -24.25
y_offset: 20.45
# z_offset сохраняется внизу printer.cfg автоматически
speed: 6.0
samples: 3
samples_result: median 
sample_retract_dist: 3.0
samples_tolerance: 0.025
samples_tolerance_retries: 3

#############################################################################
#   Сетка стола
#############################################################################
[bed_mesh]
speed: 150                
horizontal_move_z: 5  
mesh_min: 10,21
mesh_max: 210,211
probe_count: 11,11          
algorithm: bicubic
bicubic_tension: 0.2
mesh_pps: 4, 4 
fade_start: 1.0
fade_end: 10.0 

#############################################################################
#   Парковка (Homing)
#############################################################################
[safe_z_home]
home_xy_position: 141.75,97.05
speed: 100
z_hop: 10                 
z_hop_speed: 5

#############################################################################
#   Калибровка винтов стола
#############################################################################
[screws_tilt_adjust]
# Координаты винтов с учетом смещения датчика (X: -24.25, Y: 20.45)
screw1: 54.25, 15
screw1_name: front left screw
screw2: 229.25, 15
screw2_name: front right screw
screw3: 229.25, 185
screw3_name: rear right screw
screw4: 54.25, 185
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 150.
screw_thread: CW-M4