[delayed_gcode DISABLE_FILAMENT_SENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

[gcode_macro M600]
description: Pause for colour change and automatically unload
gcode:
  PAUSE
  # Запоминаем текущую температуру и выгружаем пластик
  SET_GCODE_VARIABLE MACRO=UNLOAD_FILAMENT VARIABLE=prev_temp VALUE={printer.extruder.target|int}
  UNLOAD_FILAMENT

[gcode_macro LOAD_FILAMENT]
variable_prev_temp: 0
variable_load_distance: 25
variable_purge_distance: 75
gcode:
  {% set target_temp = prev_temp|int or printer.extruder.target|round(0) or 220 %}
  {% if prev_temp|int == 0 and printer.extruder.target|round(0) == 0 %}
    RESPOND PREFIX="LOAD_FILAMENT" MSG="No temp set — defaulting to {target_temp}°C"
  {% endif %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={target_temp}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={target_temp - 4} MAXIMUM={target_temp + 40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_vel = printer.configfile.settings.extruder.max_extrude_only_velocity * 30 %}
  SAVE_GCODE_STATE NAME=load_state
  G91
  G92 E0
  G1 E{load_distance} F{max_vel}
  G1 E{purge_distance} F{speed}
  RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_prev_temp: 0
variable_unload_distance: 75
variable_purge_distance: 15
gcode:
  {% set target_temp = prev_temp|int or printer.extruder.target|round(0) or 220 %}
  {% if prev_temp|int == 0 and printer.extruder.target|round(0) == 0 %}
    RESPOND PREFIX="UNLOAD_FILAMENT" MSG="No temp set — defaulting to {target_temp}°C"
  {% endif %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={target_temp}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={target_temp - 4} MAXIMUM={target_temp + 40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_vel = printer.configfile.settings.extruder.max_extrude_only_velocity * 30 %}
  SAVE_GCODE_STATE NAME=unload_state
  G91
  G92 E0
  G1 E{purge_distance} F{speed}
  G1 E-{unload_distance} F{max_vel}
  RESTORE_GCODE_STATE NAME=unload_state
  {% if printer['pause_resume'].is_paused|int == 1 %}
    G4 P3000
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=175
  {% endif %}

