#############################################################################
#   Maintenance Parks
#############################################################################
[gcode_macro PARK_CENTER]
description: Парковка по центру для обслуживания хотенда
gcode:
    CG28
    G90
    G1 X117.5 Y117.5 Z150 F6000

[gcode_macro PARK_FRONT]
description: Выкат стола вперед для удобного снятия детали
gcode:
    CG28
    G90
    G1 X10 Y200 Z150 F6000

