
#############################################################################
#   X/Y Stepper Config
#############################################################################
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: PC0
position_min: -6.5
position_endstop: -6.5
position_max: 235
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: false

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: PB8
position_min: -2
position_endstop: -2
position_max: 235
homing_speed:50
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z]
step_pin: PC10
dir_pin: !PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 268
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 5


#############################################################################
#   TMC Stepper-driver UART Config
#############################################################################
[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD2
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.8
interpolate: True
